*{
    margin: 2;
    padding: 2;
}

header{
    text-align: center;
    background-color: beige;
}
/*Primer desafio */
#section1{
    background-color: rgb(212, 219, 217);
    text-align: center;
}

/*Segundo desafio*/
#page{
    background-color:azure;
}

#st{
    display: flex;
    flex-direction: row;
    gap: 50px;
    

}
